﻿@model JOB.Entities.Entity.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employer.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            Applicants
        </dt>
        <dd class="col-sm-10">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Message</th>
                        <th>Years of Experience</th>
                        <th>Expected Salary</th>
                    </tr>
                </thead>
                @{
                    List<JOB.Entities.Entity.Applicant> applicants = ViewBag.Applicants;
                    foreach (var applicant in applicants)
                    {
                        @:<tr>
                            @:<td>@applicant.FirstName @applicant.LastName</td>
                            @:<td>@applicant.EmailAddress</td>
                            @:<td>@applicant.MobileNumber</td>
                            @:<td>@applicant.Message</td>
                            @:<td>@applicant.YearsOfExperience</td>
                            @:<td>@applicant.ExpectedSalary</td>
                        @:</tr>
                    }
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
